{
	order cache before rewrite
	cache {
		ttl 10s # default ttl, can be overridden per route
		redis {
			url 127.0.0.1:{$REDIS_PORT}
		}
	}
}

http://localhost:{$CADDY_PORT} {
	reverse_proxy localhost:{$UPSTREAM_PORT}

	route /healthcheck {
		# no cache
	}

	route / {
		cache
	}
}
