{
    order cache before rewrite
    cache {
        redis {
            url 127.0.0.1:6379
        }
    }
}

http://localhost:3000 {
    reverse_proxy localhost:8080

    route /.git/* {
        cache {
            ttl 10s
        }
    }

    route /* {
        cache {
            ttl 30s
        }
    }
}
